.container {
  display: grid;

  grid-template-areas:
    "header1 header1 header1"
    "aside1 header2 aside2"
    "aside1 main aside2"
    "aside1 footer1 aside2"
    "footer2 footer2 aside2";

  grid-template-columns: 30rem auto 30rem;
  grid-template-rows: 10rem 5rem auto 10rem 10rem;

  @media (max-width: 1200px) {
    grid-template-areas:
      "header1 header1"
      "aside1 header2"
      "aside1 main"
      "aside1 footer1"
      "footer2 footer2";

    grid-template-columns: 30rem auto;
    grid-template-rows: 10rem 5rem auto 10rem 10rem;

    @media (min-width: 768px) {
      grid-template-areas:
        "aside1 header2"
        "aside1 main"
        "footer2";

      grid-template-columns: 30rem auto;
      grid-template-rows: 10rem 5rem auto;
    }
  }
}

.header1 {
  grid-area: header1;
  background-color: red;
}

.header2 {
  grid-area: header2;
  background-color: blue;
}

.main {
  grid-area: main;
  background-color: white;
}

.aside1 {
  grid-area: aside1;
  background-color: darkblue;
}

.aside2 {
  grid-area: aside2;
  background-color: yellow;

  @media (max-width: 1200px) {
    display: none;
  }
  
  @media (max-width: 768px) {
    display: none;
  }
}

.footer1{
  grid-area: footer1;
  background-color: green;
}

.footer2 {
  grid-area: footer2;
  background-color: pink;
}

.card {
  background-color: var(--primary-dark);
  border-radius: 1rem;
  color: var(--primary-contrast-light);
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
  height: 20rem;
}
