
.header{
  grid-area: header;
 background-color: rgb(107, 166, 189);
 display: flex;
 justify-content: center;
align-items: center;
 color: rgb(0, 8, 8);
  font-size: 4rem;

  @media (max-width: 768px) {
    font-size: 2rem;
    flex-direction: column;
  }
}

.header svg {
  width: 100px;
  height: 100px;
}
