
.container {
    padding: 3rem;
    height: max-content;
    display: flex;
    flex-direction: row; /*colum reverse  column-rverse*/
    flex-wrap: wrap;
    gap: 3rem;

    /* EIXO HORIZONTAL*/
    justify-content: center;
    align-items: center;
   

    /* EIXO VERTICAL */
    align-items: center;
    /* align-content: center;*/
    align-content: start;

    @media(max-width: 768px) {
        flex-flow: column nowrap;
        hight: auto;
    }
}
.title {
    margin-top: 3rem;
    font-size: 10rem;
    font-weight: bolder;
    text-align: center;

   @media(max-width: 768px) {
        font-size: 6rem;
    }

@media(max-width: 758px) and (max-width: 1200px) {
        font-size: 3rem;
    }
   }


