.container{
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
justify-content: center; 
gap: 40px;
width: 100%;
max-width: 1200px;
margin: 0 auto; 
color: black;
font-size: 20px; 
}

.productsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  max-width: 1200px; 
  width: 100%;
  color: #000;
}

