.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin: 5rem 0;
  gap: 2rem;
  margin-top: 20rem;
}

.grid {
  /* height: 100vh; */
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
  gap: 3rem;

  /* justify-content: center; */
  /* align-content: center; */
}
.estoqueButton {
  width: 100%;
  padding: 0.5rem;
  font-weight: bold;
  background: var(--primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}
.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.searchInput {
  display: flex;
  gap: 1rem;
  width: 100%;
  max-width: 60rem;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
  border: 0.25rem solid var(--primary);
  border-radius: 1rem;
  background-color: var(--gray-100);
  color: var(--text);
}

.searchButton {
  background-color: var(--primary);
  color: var(--gray-900);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: 0.25rem solid var(--gray-900);
}

.searchButton:hover {
  background-color: var(--primary-dark);
}
