.main {
  grid-area: main;
  background: linear-gradient(
        to bottom,
        rgba(15,21,33,255) 0%,
        rgba(10,20,117,255) 100%
    );
  display: flex;
}

.card {
  background-color: rgba(36,99,235,255);
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  text-align: center;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 300px; 
  flex: 1 1 300px;  
  max-width: 350px; 
  
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-size: 3rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.card p {
  font-size: 1.25rem;
  color: white;
  text-align: left;
  margin: 0.5rem 0;

  @media(max-width: 1000px) {
    font-size: 10px;
  }
  @media(max-width: 8px) {
    font-size: 10px;
  }
}

.grid {
  display: flex;
  flex-wrap: nowrap; /* Cards em linha */
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit,mincontent);
}
