@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

.container {
  display: grid;
  

  grid-template-areas:
  "header"
  "main"
  "footer";

  grid-template-columns: 100vw;
  grid-template-rows: 20rem auto 20rem;

}

.header{
  grid-area: header;
 background-color: rgba(15,21,33,255);
 display: flex;
 justify-content: center;
align-items: center;
 color: rgb(37,100,234);
  font-size: 4rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
  
.main {
  grid-area: main;
  background: linear-gradient(
        to bottom,
        rgba(15,21,33,255) 0%,
        rgba(10,20,117,255) 100%
    );
  display: flex;
}

.footer{
  grid-area: footer;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText {
  text-align: left;
  font-size: 9px;
  margin-left: 2rem;
  align-items: center;
  font-family: arial;
}
.footer h2 {
  margin: 0;
  padding: 0;
  font-family: 'Ephesis', cursive;
  font-size: 4rem;
  color: rgb(37,100,234);
}

.card {
  background-color: rgba(36,99,235,255);
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 1.25rem;
  text-align: center;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;

  
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.card h2 {
  font-size: 3rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.card p {
  font-size: 1.25rem;
  color: white;
  text-align: left;
  margin: 0.5rem 0;

  @media(max-width: 1000px) {
    font-size: 10px;
  }
  @media(max-width: 8px) {
    font-size: 10px;
  }
}

.grid {
  display: flex;
  flex-wrap: nowrap; /* Cards em linha */
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit,mincontent);
}

@media (max-width: 768px) {
  .grid {
    flex-wrap: wrap; /* Cards pulam para baixo no celular */
  }
}

.header svg {
  width: 100px;
  height: 100px;
}

.icons {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    margin-right: 5rem;
    background-color: rgba(36,99,235,255);
    border-radius: 2rem;
    padding: 1rem;
    box-shadow: 0rem 0rem 1rem var(--primary-dark);
    @media (max-width:768px) {
        justify-content: center;
        left: 50%;
        transform: translateX(30%);
    }
}
.icons button {
    background-color: transparent;
    border: none;
    margin-left: 0.5rem;
    margin-right:0.5rem;
}

.icons a svg {
    font-size: 2rem;
  width: 2em;
  height: 2em;
  color: rgb(0,0,0);
}

@media (max-width: 1200px) {
  .icons a svg {
    font-size: 1.5rem;
    width: 1.5em;
    height: 1.5em;
  }
}

@media (max-width: 768px) {
  .icons a svg {
    font-size: 2rem;
    width: 4rem;
    height: 2em;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap; /* Permite quebrar linha automaticamente */
  justify-content: center;
  gap: 1rem;
}

.card {
  min-width: 300px; 
  flex: 1 1 300px;  
  max-width: 350px; 
}


